*, ::after, ::before {
    box-sizing: border-box;
}
*::selection {
    color: black;
    background: #f06cc2;
}

@font-face {
    font-family: "Dancing in the Rainbow";
    src: url('../Assets/fonts/Dancing\ in\ the\ Rainbow.ttf');
}

body {
    margin: 5rem auto;
    position: relative;
    padding: 0;
    max-width: 1366px;
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.back-img {
    width: 1366px;
    
    filter: brightness(0);
}

.logo-cont {
   display: flex;
   justify-content: center;
   margin: 0;
   position: relative;
   top: 30px;
}

/* Logo Size */
.logo {
    width: 100px;  
    height: 100% !important;
}

.header-text {
    font-family: "Dancing in the Rainbow";
    text-align: center;
    margin: 0;
    margin-top: 2rem;
    font-size: 5rem;
}

.header-inner {
    text-align: center;
}
.link-cont {
    margin-top: 4rem;
    font-size: 1.5rem;
}
.underline {
    text-decoration: underline;
}
.link-cont {
    
    font-family: 'Lexend Deca', sans-serif;
}

.link-cont a {
    color: white;
}

a {
    transition: all .3s ease-in-out;
}

.header-text:hover a {
    transition: all .3s ease-in-out;
    color: #1ecf5c;
    text-shadow: #0ead46 0px 0px 10px;
}

.info-tab {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 230px;
    height: max-content;
    background-color: black;
    border: 2px solid  #1ecf5c;
    border-radius: 20px;
    resize: none;
    color: white;
    padding: 20px;
    font-family: 'Lexend Deca', sans-serif;
}

.info-tab:hover {
    box-shadow: #0ead46 0px 0px 30px;
}

.link-cont .youtube:hover {
    color: #ff4a4a;
}
.link-cont .insta:hover {
    color: #f06cc2;
}

@media (max-width: 900px) {
    .info-tab {
        position: relative;
        margin: 0 auto;
        font-size: 0.9rem;
        width: 200px;
        margin-top: 30px;
        left: 5px;
    
    }
}

@media (max-width: 600px) {
    .info-tab {
        font-size: 0.8rem;
    }
    .header-text {
        font-size: 3rem;
        margin-top: 2rem;
    }
    .logo-cont {
        top: 10px;
    }
    
    body {
        margin: 3rem auto;
        color: black;
    }
}
